extends layout

block subcontent
  h1= title
  h2 Welcome to my page!

  p Hello! A few random facts about me: I am a software engineering major with a minor in math. I spend a lot of time outside class and work playing video games, hiking, biking, cooking, and fishing. I have one really cute dog and two really cute cats and a few weird looking fish that I am kind of obsessed with. 
   div
    div
      img(style="width:20em; height:auto" src="/images/cats.jpg")
    
      img(style="width:20em; height:auto" src="/images/dog.jpg")
  a(href="https://www.linkedin.com/in/jrwilkinson20/")
      button  Add me on linkedin! 

  p OR
  p 
    | Click here 
    a(href= "/jrwilkinson/pgpg") to see a flower!

  p



