extends layout

block subcontent
  h1= title
  p If you can't tell, I like the color pink. 

  img(style="width:20em; height:auto" src= "https://cdn.pixabay.com/photo/2015/10/09/00/55/lotus-978659_1280.jpg")
  p Also, I lied there are more flowers here. 
  img(style="width:20em; height:auto" src="https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729512__340.jpg")
  p A lot more...
  img(style="width:20em; height:auto" src="https://cdn.pixabay.com/photo/2014/04/10/11/24/rose-320868_1280.jpg")
  p
  img(style="width:20em; height:auto" src="https://cdn.pixabay.com/photo/2021/08/15/06/54/sunflower-6546993_1280.jpg")
  p
  img(style="width:20em; height:auto" src="https://cdn.pixabay.com/photo/2012/09/08/21/51/flower-56414_1280.jpg")
  p
  img(style="width:20em; height:auto" src="https://cdn.pixabay.com/photo/2018/05/04/15/23/poppies-3374193_1280.jpg")
  p Last one...
  img(style="width:20em; height:auto" src="https://cdn.pixabay.com/photo/2016/05/02/22/16/apple-blossom-1368187_1280.jpg")
  p Thanks for coming to my page!
    
    | Click here 
    a(href= "/jrwilkinson") to go back to my main page!