extends layout

block subcontent
  h1= title
  p Growing up, I had multiple different interests and I've tried my best to pursue all of them and
    | I think for the most part, I did succeed. One of my latest crazy adventures I
    | followed through with was skydiving. I skydived over the summer with a friend at Skydive Danielson, CT.
    | That's all I have for now. If you want to go back to my bio page, click 
    a(href="/hrajan") here.
