extends layout

block subcontent
  h1= title
  p Year: Junior
  p Major: Computer Science
  p Hometown: Muscat, Oman
  p Nationality: Indian
  p Interests: Soccer, music, AI, travelling, reading
  p Learn more about me on my 
   a(href="/hrajan/background") background page
