extends layout

block subcontent
  h1= title
  p Welcome to #{title}
  p 
  p
  | Here's a link to 
  a(href ='/hcbyrd/another') another page.
  h1 I used to play World of Warcraft!
  p
  | My alt 
  a(href ='https://worldofwarcraft.com/en-us/character/us/garrosh/galendorff') character
  |  who hasn't progressed in over 2 years.