extends layout

block subcontent
  h1= title
  p This is a page by Lauren
  p I've managed to watch all of Money Heist (yes, all 5 parts) in a weekend.
  p It can be argued that I have no life or the greatest of all
  | Back to
  a(href='/laatkinson') where it all started.
